<h1>Rainforest</h1>
<%= link_to "New Product", new_product_path %>


<% @product.each do |product| %>
  <p><%= link_to product.name, product %>, <%= product.description %> Price: <%= product.formatted_price %> </p>
<% end %>

